{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="home">
  <h2>Welcome to</h2>
<h1 style="font-size: 50px">House Prediction System</h1>
<form action="{% url 'predict' %}">
    <button type="submit" class="home-button">START</button>
</form>
</div>

</body>
</html>